<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>BreakingBad.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>185A20621CECC9E1001AC2A4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>185A20791CECC9E5001AC2A4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>185A20841CECC9E6001AC2A4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
